* {
	margin: 0px;
	padding: 0px;
}

header, nav, aside, main, section, footer {
	display: block;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
	background-color: #000000;
}